/* TO CHANGE, NOT THE GOOD STYLES, ONLY A PROOF OF CONCEPT */
$primary-color: black;

body {
    color: $primary-color;
}

.hello {
    margin-left:10px;
    margin-right:10px;
    position:absolute;
}